.view-toggle-capsule {
    background: white;
    padding: 4px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #e5e7eb;
    width: fit-content;
}

.toggle-btn {
    padding: 8px 16px;
    border: none;
    background: transparent;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 600;
    color: #6b7280;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s;
    white-space: nowrap;
}

.toggle-btn:hover { background: #f3f4f6; color: #374151; }

.toggle-btn.active {
    background: #3b82f6;
    color: white;
    box-shadow: 0 2px 5px rgba(59, 130, 246, 0.3);
}

.header-date-picker {
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    padding: 6px 12px;
    font-family: inherit;
    color: #374151;
    margin-left: 5px;
    outline: none;
    font-size: 0.85rem;
}


.wallet-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh; 
    animation: fadeIn 0.3s ease-in;
}

.wallet-nav-btn {
    margin-top: 5px;
    margin-bottom: 15px; 
    color: #eab308 !important;
    font-weight: 600;
}

.wallet-nav-btn.active {
    background-color: rgba(234, 179, 8, 0.1) !important;
    border-right: 3px solid #eab308;
}